---
import { Picture } from "astro:assets";
import { Article } from "../scripts/models/article";
import Tag from "./Tag.astro";
interface Props {
	article: Article;
	cssClass: string;
}

const { article, cssClass } = Astro.props;
---

<div class={cssClass}>
	<div class="flex-1">
		<div class="center">
			<a href={article.canonical_url} target="_blank" rel="noopener" title={article.title}>
				<figure class="relative">
					<Picture src={article.cover_image} formats={["webp"]} widths={[172, 192, 298, 494]} alt={article.title} class="rounded-t-lg dark:brightness-50 dark:hover:brightness-100" loading="lazy" title={article.title} width="404" height="170" />
				</figure>
			</a>
		</div>
		<div class="p-6">
			<a href={article.canonical_url} target="_blank" rel="noopener" title={article.title}>
				<h2 class="mb-3 text-lg font-bold text-white dark:text-santa-grey min-h-56">
					{article.title}
				</h2>
			</a>
			<p class="mb-3 leading-relaxed text-iron dark:text-santa-grey">
				{article.description}
			</p>
			{article.tag_list.map((tag: string) => <Tag tag={tag} />)}
		</div>
	</div>
</div>
