---
import { Picture } from "astro:assets";
import { Article } from "../scripts/models/article";
interface Props {
	article: Article;
}

const { article } = Astro.props;
---
	<a
		href={article.canonical_url}
		target="_blank"
		rel="noopener"
		title={article.title}
		class="flex flex-row flex-wrap"
	
	>
		<figure class="flex w-2/6" role="none">
			<Picture
				src={article.cover_image}
				formats={["webp"]}
				widths={[98, 105, 172, 317, 335, 403]}
				alt={"screenshot of " + article.title}
				class="block object-left-top w-full h-auto rounded-lg lg:rounded-l-lg object-fit dark:brightness-75 dark:hover:brightness-100"
				loading="lazy"
				title={article.title}
				width="172"
				height="72"
			/>
		</figure>
		<div class="flex items-center w-4/6 px-2 md:px-4">
			<h2 class="text-sm font-medium text-white dark:text-cool">
				{article.title}
			</h2>
		</div>
	</a>
