---
import { Picture } from "astro:assets";
import { Project } from "../scripts/models/project";
interface Props {
	project: Project;
	large: boolean;
}

const { project, large } = Astro.props;
---

<figure class="relative ring-tulip dark:ring-mirage ring-2 md:ring-4 shadow-award rounded-lg">
	{
		project.position === "left top" ? (
			<Picture
				src={project.image.url}
				formats={["webp"]}
				widths={[128, 156, 170, 232, 298, 317, 327, 403, 604, 930]}
				alt={"screenshot of " + project.image.alt}
				class="block object-left-top w-full h-full  object-fit dark:brightness-50 dark:hover:brightness-100  rounded-lg"
				loading="lazy"
				title={project.image.alt}
				width={large ? 930 : 223}
				height={large ? 496 : 164}
			/>
		) : (
			<Picture
				src={project.image.url}
				formats={["webp"]}
				widths={[128, 156, 170, 232, 298, 317, 327, 403, 604, 930]}
				alt={"screenshot of " + project.image.alt}
				class="block object-top w-full h-full object-fit dark:brightness-50 dark:hover:brightness-100  rounded-lg"
				loading="lazy"
				title={project.image.alt}
				width={large ? 930 : 223}
				height={large ? 496 : 164}
			/>
		)
	}
	<figcaption
		class="absolute px-2 py-1 text-white left-0 bottom-0 md:px-4 md:py-2 bg-tulip dark:bg-mirage dark:text-cool rounded-bl-lg rounded-tr-lg text-sm"
	>
		<a
			href={project.winnerUrl}
			title={project.winnerLabel}
			target="_blank"
			rel="noopener"
			class="text-black hover:text-black dark:text-cool"
		>
			<span class="font-bold hidden md:block">{project.winnerLabel}</span>
			<span>
				{project.title}
			</span>
			<span class="hidden md:block">{project.winnerDescription}</span>
		</a>
	</figcaption>
</figure>
