---
import { Picture } from "astro:assets";
import { Project } from "../scripts/models/project";
interface Props {
	project: Project;
	large: boolean;
}

const { project, large } = Astro.props;
---

<figure class="relative">
	{
		project.position === "left top" ? (
			<Picture
				src={project.image.url}
				formats={["webp"]}
				widths={[156, 232, 317, 327, 403]}
				alt={"screenshot of " + project.image.alt}
				class="block object-left-top w-full h-full rounded-lg lg:rounded-l-lg object-fit dark:brightness-50 dark:hover:brightness-100 ring-tulip-tree dark:ring-mirage ring-2 md:ring-4 shadow-award"
				loading="lazy"
				title={project.image.alt}
				width={large ? 403 : 223}
				height={large ? 298 : 164}
			/>
		) : (
			<Picture
				src={project.image.url}
				formats={["webp"]}
				widths={[156, 232, 317, 327, 403]}
				alt={"screenshot of " + project.image.alt}
				class="block object-top w-full h-full rounded-lg lg:rounded-l-lg object-fit dark:brightness-50 dark:hover:brightness-100 ring-tulip-tree dark:ring-mirage ring-2 md:ring-4 shadow-award"
				loading="lazy"
				title={project.image.alt}
				width={large ? 403 : 223}
				height={large ? 298 : 164}
			/>
		)
	}
	<figcaption
		class="absolute bottom-0 left-0 px-2 py-1 text-xs text-black rounded-tr-lg rounded-bl-lg md:-left-1 md:-bottom-1 md:px-4 md:py-2 bg-tulip-tree dark:bg-mirage dark:text-santa-grey"
	>
		<span class="hidden font-bold lg:inline-block">Award Winner:</span>
		{project.title}
	</figcaption>
</figure>
